/* line 5, ../../../app/stylesheets/reeku.scss */
body {
  background-color: #799577;
}

/* line 9, ../../../app/stylesheets/reeku.scss */
#container {
  margin-top: 15px;
  background-color: #f00;
}

/* line 14, ../../../app/stylesheets/reeku.scss */
#left-margin {
  background-color: #ff0;
}

/* line 17, ../../../app/stylesheets/reeku.scss */
#right-margin {
  background-color: #f0f;
}

/* line 21, ../../../app/stylesheets/reeku.scss */
#header {
  background-color: #fff;
}

/* line 25, ../../../app/stylesheets/reeku.scss */
#nav {
  background-color: #0f0;
}

/* line 29, ../../../app/stylesheets/reeku.scss */
#content {
  background-color: #00f;
}
