/* line 5, ../../../app/stylesheets/reeku.scss */
body {
  background-color: #799577;
}

/* line 9, ../../../app/stylesheets/reeku.scss */
#container {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: #fff;
}

/* line 16, ../../../app/stylesheets/reeku.scss */
#left-margin {
  /*  background-color: #ff0;*/
}

/* line 20, ../../../app/stylesheets/reeku.scss */
#right-margin {
  /*  background-color: #f0f;*/
}

/* line 24, ../../../app/stylesheets/reeku.scss */
#header {
  /*  background-color: #fff;*/
}

/* line 29, ../../../app/stylesheets/reeku.scss */
#content {
  /*  background-color: #00f; */
}

/* line 33, ../../../app/stylesheets/reeku.scss */
#contact {
  font-size: 1.4em;
  margin-top: 10px;
}

/* line 39, ../../../app/stylesheets/reeku.scss */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 45, ../../../app/stylesheets/reeku.scss */
#nav li {
  float: left;
}
/* line 48, ../../../app/stylesheets/reeku.scss */
#nav a {
  display: block;
  width: 201px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #597557;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 58, ../../../app/stylesheets/reeku.scss */
#nav a:hover {
  background-color: #7A991A;
}
/* line 61, ../../../app/stylesheets/reeku.scss */
#nav a:active {
  background-color: #7A991A;
}
