$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;

body {
  background-color: #799577;
}

#container {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: #fff;
}

#left-margin {
/*  background-color: #ff0;*/
}

#right-margin {
/*  background-color: #f0f;*/
}

#header {
/*  background-color: #fff;*/
}


#content {
/*  background-color: #00f; */
}

#contact {
  font-size: 1.4em;
  margin-top: 10px;
}

#nav {

}

#nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
#nav li {
  float:left;
}
#nav a:link,a:visited {
  display:block;
  width:120px;
  font-weight:bold;
  color:#FFFFFF;
  background-color: #597557;
  text-align:center;
  padding:4px;
  text-decoration:none;
  text-transform:uppercase;
}
#nav a:hover,a:active {
  background-color:#7A991A;
}



